name: Release

on:
  push:
    tags:
      # so a vX.Y.Z-test1 doesn't trigger build - no ancho working yet first one doesn't match -test1 (!)
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-pre[0-9]*'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v3
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # pin@v1
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # pin@v1
      - name: Set up Go
        uses: actions/setup-go@v6 # pin@v3
        with:
          go-version: '1.24'
          check-latest: true
      - name: Log in to Docker
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # pin@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT }}
      - name: "GoReleaser Action"
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # pin@v6.4.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          TAP_DESCRIPTION: "Go Repl Open Language: simple, small but powerful interpreted language in Go"
