name: Release

on:
  push:
    tags:
      # so a vX.Y.Z-test1 doesn't trigger build - no ancho working yet first one doesn't match -test1 (!)
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-pre[0-9]*'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v3
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # pin@v1
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # pin@v1
      - name: Set up Go
        uses: actions/setup-go@v5 # pin@v3
        with:
          go-version: '1.23'
          check-latest: true
      - name: Log in to Docker
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # pin@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT }}
      - name: "GoReleaser Action"
        uses: goreleaser/goreleaser-action@9c156ee8a17a598857849441385a2041ef570552 # pin@v6.3.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          TAP_DESCRIPTION: "Go Repl Open Language: simple, small but powerful interpreted language in Go"
